{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block css %}
<style type="text/css">
body {
  background: url(http://photostream.iastate.edu/public/000/0645/645-large-6f8cd93db2e5f2b0.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header {
  text-align: center;
  margin-top: 100px;
  background-color: rgba(238, 238, 238, 0.90);
}
</style>
{% endblock %}

{% block content %}

<div class="header">
  <h1>Illustrious Rhinoceroses</h1>
  <h2>Welcome to our project prototype for software engineering 329.</h2>
</div>

<div class="content">

</div>
{% endblock %}


{% block js %}{% endblock %}